<h2>LISTING EMPLOYEES</h1>
<table>
	<thead>
		<tr>

		<th>FIRST NAME &nbsp; &nbsp; &nbsp;</th>
		<th>LAST NAME &nbsp; &nbsp; &nbsp;</th>
		<th>EMAIL ID &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
		<th>AGE &nbsp; &nbsp; &nbsp; </th>
		<th>COUNTRY &nbsp; &nbsp; &nbsp; </th>
		<th>LANGUAGES KNOWN &nbsp; &nbsp; &nbsp; </th>
		<th>IMAGES &nbsp; &nbsp; &nbsp; </th>



        </tr>
	</thead>

    <tbody>
    	<% @employee.each do |emp| %>
    	<tr>

    		<td> <%= emp.first_name %> </td>
    		<td> <%= emp.last_name %> </td>
    		<td> <%= emp.email %> </td>
    		<td> <%= emp.age %> </td>
    		<td> <%= emp.country %> </td>
    	    <td> <%= emp.languages_known %> </td>
    	    <td><img width="100" height="100" src="<%= (url_for(emp.image.url)) %>"></td>


    		<td> <%= link_to 'View', emp %>&nbsp; &nbsp; &nbsp;</td>
    		<td> <%= link_to 'Edit', edit_emp_path(emp) %>&nbsp; &nbsp; &nbsp;</td>
            <td><%= link_to 'Delete', emp, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>&nbsp; &nbsp; &nbsp;</td>


    	</tr>
    	<%end %>

    </tbody>
    <%= link_to 'Add New Employee', new_emp_path %>
    <br>
		<br>



</table>