<h1>Employee details</h1>
<p><b>first name</b></p><%= @employee.first_name %>
<p><b>last name</b></p><%= @employee.last_name %>
<p><b>email</b></p><%= @employee.email %>
<p><b>age</b></p><%= @employee.age %>
<p><b>country</b></p><%= @employee.country %>
<p><b>image</b></p><%= @employee.image %>

<p><b>languages known</b></p><%= @employee.languages_known %>



<br>
 

<%= link_to 'Back', emp_index_path%>


