<!DOCTYPE html>
<html>
  <head>
    <title>Friend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if post_signed_in? %>
    Signed in as <%= current_post.email %>. Not you?
    <%= link_to "Edit profile", edit_post_registration_path %>
    <%= link_to "Sign out", destroy_post_session_path, data: { "turbo-method": :delete } %>
    <% else %>
    <%= link_to "Sign up", new_post_registration_path %> or
    <%= link_to "sign in", new_post_session_path %>
    <% end %>

   <% flash.each do |name, msg| %>
   <%= content_tag :div, msg, id: "flash_#{name}" %>
   <% end %>

    <%= yield %>
  </body>
</html>
